body
{
  font-family:"Prestige Elite",monospace;
  font-size: 18px;
  color: magenta;
  background:black;
  text-align: center;
  width:auto;
}

.footer
{
}
.disclaimer
{
  font-size: 12px;
  position:relative;
  bottom:80px;
}

a:link
{
  color:red;
}
a:visited
{
  color:purple;
}
a:active
{
  color:hotpink;
}
a:hover
{
  color:hotpink;
}
