body
{
  font-family:"Prestige Elite",monospace;
  font-size: 18px;
  color: magenta;
  background:black;
  text-align: center;
  margin:5px;
  padding:5px;
}

.footer
{
}
.disclaimer
{
  font-size: 12px;
  position:absolute;
  bottom:1%;
  width:99%;
  margin-left:auto;
  margin-right:auto;
}

a:link
{
  color:red;
}
a:visited
{
  color:purple;
}
a:active
{
  color:hotpink;
}
a:hover
{
  color:hotpink;
}
