<div class="container">
  <div class="row">
    <div class="col-12">
    <h1>Contact</h1>
      Direct business inquiries to <a
      href="mailto:nrt@nathalietate.xyz">nrt@nathalietate.xyz</a>. Sometimes I
      hangout at <a href="https://freenode.net/">freenode</a> and
      <a href="http://www.irc.perl.org/">irc.perl.org</a> as rosalind.
    </div>
  </div>
</div>
