<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About</h1>
      <p>
        Nathalie Tate is a software developer from South-East Michigan. Notable 
        achievements include developing a Perl-based web marketplace for <a
        href="https://herculeze.com">Herculeze Technologies</a>. She is
        currently available for contract and permanant positions.
      </p>
    </div>
  </div>
</div>
