<div class="container">
  <div class="row">
    <div class="col-12">

      <h1>Copyright and Licensing Information</h1>

      <p>
        This website and all of its contents, except where explicitly stated
        otherwise, are copyright © 2016-19 Nathalie Tate and are freely
        available to be modified and distributed under the terms of the 
        <a href="/docs/LICENSE.txt">MIT License</a>.
      </p>

    </div>
  </div>
</div>
